#placeInfo li{
        font-size: 20px;
    }

.expand p {
	text-decoration: underline;
}

.expand ul,
#placeInfo ul {
	padding-left: 0;
}

#buttons {

}

.btn-contact {
	border: none;
	color: #f7f7f7;
	cursor: pointer;
	height: 35px;
	padding: 0;
	margin: 16px 0;
	width: 100px;
	/*to do -add sass lighten rules on color for hovers*/
	}


.btn-directions {
	background-color: gray;/*modify later when working on palette*/
}

.btn-website {
	background-color: rgba(35,134,155,1.0);
}

.btn-phone {
	background-color: rgba(14,21,75,1.0);
}

.open {
	color: #3b8ede;
}

.closed {
	color: red; /*modify later when applying color palette*/
}

#open-or-closed {
   margin: 0 0 16px;
 }

#open-hours ul li {
 	font-size: 16px;
}

#open-hours img {
	height: 14px;
	width: 20px;
}
