@import '_variables';

@mixin setRegAndHoverColor($color) {
	background-color : $color;
	&:hover {
		background-color: lighten($color, 20%);
	}
}

/*expand/places elements styling*/

.expand p {
		text-decoration: underline;
	}

.placeInfo {
	ul {
		padding-left: 0;
	}
	.btn-contact {
		border: none;
		color: $textColorLight;
		cursor: pointer;
		height: 35px;
		padding: 0;
		margin: 16px 0;
		width: 100px;
		transition: background-color 0.2s ease-in-out;
	}

	.btn-directions {
		@include setRegAndHoverColor(rgba(128,128,128,1.0));
	}

	.btn-website {
		@include setRegAndHoverColor(#23869b);
	}

	.btn-phone {
		@include setRegAndHoverColor(#0e154b);
	}
	.open {
		color: #3b8ede;
		font-size: $textSizeM;
	}

	.closed {
		color: #ff2d32; 
	}

	#open-or-closed {
	   margin: 0 0 16px;
	 }

	#open-hours ul li {
	 	font-size: $textSizeS;
	}
}




